body{
    background-color: black;
}
/* #firstpage{
    
    position: absolute;
    background-image: url(./background.webp) ;
    width: 101%;
    height: 100%;
    margin: -8px -8px;
} */
.left{
    color: white;
    /* border: 2px solid white; */
    position: absolute;
    width: 142px ;
    margin: 19px 28px;
    height: 58px;

}
.left img{
    height: 57px;
    width:143px;

}
.mid{
    color: white;
    /* border: 2px solid white; */
    /* position: absolute; */
    width: 836px ;
    margin: 19px 337px;
}
.navbar{
    display: flex;
    flex-direction: row;
}
.navbar li{
    list-style: none;
}
.navbar li a{
    text-decoration: none;
    color: white;
    padding: 3px 12px;
    margin: 3px 3px;
    font-size: 1.8rem;
}
.navbar li a:hover{
    text-decoration: underline;
    font-size: 2rem;
    color: antiquewhite;
}
.right{
    color: white;
    /* border: 2px solid white; */
    width: 117px ;
    margin: -78px 1370px;
    height: 38px;
    border-radius: 12px;
}
.btn{
    height: 38px;
    width: 117px ;
    border-radius: 12px;
    cursor: pointer;
    background-color: rgb(197, 25, 111);
    color: white;
    margin: 22px 3px;
    
}
.btn:hover{
    text-decoration: underline;
    font-size: large;
    background-color: white;
    color: black;
}
/* contact page  */

#contact{
    margin: 3px 3px;
    padding: 3px 3px;
    height: 33px;
    width: 33px;
}
#contact h1{
    color: white;
}